@media(max-width: 985px) {
    .container {
        max-width: 785px;
    }

    .corpo-ecos {
        grid-template-columns: 450px 300px;
    }

    .corpo-ecos > section:first-child > div:last-child > div > div {
        font-size: 11px;
        gap: 7px;
    }

    .sistemas > div:last-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: 15px ;
    }

}

